* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}


/* =========================
   헤더
========================= */


.header {
  width: 100%;
  height: 70px;
  padding: 0 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #ddd;
}

/* 카페 이름 */
.header > div:first-child {
  font-size: 22px;
  font-weight: bold;
}

/* 홈 / 메뉴 / 소개 */
.home_button,
.menu_button {
  border: none;
  background-color: white;

  padding: 10px 15px;
  font-size: 15px;

  cursor: pointer;
}

.home_button:hover,
.menu_button:hover {
  background-color: #eee;
}

/* =========================
   메뉴 상단
========================= */

.header2 {
  width: 100%;

  padding: 20px 8%;

  background-color: #ddd;
}


.header2 h2 {
  margin: 0 0 10px;

  font-size: 25px;
}


.header2 p {
  margin: 0;

  font-size: 13px;
  color: #666;
}


/* =========================
   커피 / 음료 / 디저트 제목
========================= */

.menu_title {
  width: 85%;

  margin: 30px auto 15px;

  padding: 7px 10px;

  background-color: #eee;


  font-size: 18px;
  font-weight: bold;
}


/* =========================
   메뉴 목록
========================= */

.menu_list {
  width: 85%;

  margin: 0 auto;

  display: flex;

  gap: 30px;
}


/* 메뉴 카드 */

.menu {
  flex: 1;

  border: 1px solid #aaa;

  overflow: hidden;
}


/* 메뉴 사진 */

.menu_img {
  height: 160px;

  background-color: #bbb;
  color: #777;

  display: flex;

  justify-content: center;
  align-items: center;
}


/* =========================
   메뉴 정보
========================= */

.menu_info {
  padding: 10px;
}


.menu_info h3 {
  margin: 0 0 7px;

  font-size: 16px;
}


.menu_info p {
  margin: 0 0 7px;

  font-size: 14px;
  color: #333;
}


/* 가격 */

.price {
  color: red;

  font-size: 15px;
}


/* =========================
   안내문구
========================= */

.notice {
  width: 85%;

  margin: 30px auto 50px;

  font-size: 14px;
}


/* =========================
   Footer
========================= */

.footer {
  width: 100%;

  padding: 15px 8%;

  background-color: #333;
  color: white;

  font-size: 12px;
}


.footer p {
  margin: 3px 0;
}
































.footer {
  width: 100%;

  padding: 25px;

  background-color: #333;
  color: white;

}

.footer p {
  margin: 5px;
}